@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    font-family: "Roboto", sans-serif;
    color: #a9b2bf;
    background-color: #212428;
  }
}

@layer components {
  /* social-icons */

  .social-icon {
    background: linear-gradient(180deg, #1e2125 0%, #25282c 100%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45),
      -10px 0px 35px rgba(194, 202, 213, 0.12);
    border-radius: 12px;
    cursor: pointer;
  }

  .social-icon:hover {
    box-shadow: none;
    transition-duration: 0.5s;
  }

  /* slider header */
  .slider-header {
    height: 90vh;
  }

  .card-shadow-resume {
    background: linear-gradient(180deg, #1e2125 0%, #222528 100%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45),
      -10px 0px 35px rgba(194, 202, 213, 0.12);
    border-radius: 12px;
  }
  .card-shadow {
    background: linear-gradient(180deg, #1e2125 0%, #222528 100%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45),
      -10px 0px 35px rgba(194, 202, 213, 0.12);
    border-radius: 12px;
  }
  .card-shadow:hover {
    box-shadow: none;
    transition-duration: 0.3s;
  }

  /* sidebar */

  .responsive-sidebar {
    background: linear-gradient(
        rgb(55, 65, 81, 0.1),
        rgb(0, 0, 0, 0.5),
        #212428
      ),
      url(/images/sidebar-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .side-link:hover * {
    color: #ffb400;
    fill: #ffb400;
  }

  .side-link-video:hover * {
    color: #ffb400;
    stroke: #ffb400;
  }

  .info-card {
    background: linear-gradient(180deg, #1e2125 0%, #25282c 100%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45),
      -10px 0px 35px rgba(194, 202, 213, 0.12);
    border-radius: 12px;
  }

  .info-card:hover {
    box-shadow: none;
    transition-duration: 0.3s;
  }

  /* About me section */
  .about-me-img {
    background: linear-gradient(180deg, #35383e 0%, rgba(31, 33, 38, 0.5) 100%);
    border-radius: 12px;
  }

  /* counters */
  .counter-shadow {
    background: linear-gradient(180deg, #1e2125 0%, #222528 100%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45),
      -10px 0px 35px rgba(194, 202, 213, 0.12);
    border-radius: 12px;
    cursor: pointer;
  }
  .counter-shadow:hover {
    background: linear-gradient(180deg, #1e1f23 1.79%, #101114 96.87%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45),
      -10px 0px 35px rgba(194, 202, 213, 0.12);
    border-radius: 12px;
    transition-duration: 0.5s;
  }

  /* what i do section */
  .what-i-do-card:hover {
    background: linear-gradient(180deg, #1e1f23 1.79%, #101114 96.87%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45),
      -10px 0px 35px rgba(194, 202, 213, 0.12);
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 5s;
  }

  .what-i-do-card:hover > * {
    color: #fff;
    stroke: #fff;
  }

  .what-i-do-card:hover circle {
    fill: #ffb400;
    stroke: "#FFB400";
  }
  .what-i-do-card:hover span {
    /* color: white; */
  }

  .pro-skills:hover {
    background: linear-gradient(180deg, #1e1f23 1.79%, #101114 96.87%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45),
      -10px 0px 35px rgba(194, 202, 213, 0.12);
    border-radius: 12px;
    cursor: pointer;
    transition-duration: 0.3s;
  }

  .portfolio-card-image {
    position: relative;
  }

  .portfolio-card-image:before {
    content: "";
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    transition: height 0.3s ease-out;
    background: linear-gradient(
      to bottom,
      rgb(254, 240, 138, 0.3),
      rgb(253, 224, 71, 0.4),
      rgb(250, 204, 21)
    );
    border-radius: 10px;
  }
  .portfolio-card-image:hover:before {
    height: 100%;
  }

  /* box arrow in skills */

  /* custom scrollbar */
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 4px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffb400;
    border-radius: 5px;
  }

  .box-arrow {
    position: relative;
    width: 40px;
    height: 20;
    border: 2px solid #ffb400;
  }

  .box-arrow::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffb400;
  }

  .responsive-sidebar {
    width: 18%;
    /* transform: translateX(0%); */
  }

  /* expericance card in resume tabs section */

  .experience:hover {
    background: linear-gradient(180deg, #1e1f23 1.79%, #101114 96.87%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45),
      -10px 0px 35px rgba(194, 202, 213, 0.12);
    border-radius: 12px;
  }

  .experience:hover .yellow-blog {
    visibility: visible;
  }

  .yellow-blog {
    visibility: hidden;
  }

  /* gallery grid */

  .gallery {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .gallery-box-one {
    grid-row: 1/3;
  }
  .gallery-box-two {
    grid-column-start: 1;
    grid-column-end: 3;

    width: 100%;
  }

  .gallery img {
    height: 100%;
    object-fit: fill;
  }

  /* myblog section */
  /* .blog-card-image {
    position: relative;
  }

 

  .blog-card-image:before {
    content: "";
    display: block;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    transition: height 0.3s ease-out;
    background: linear-gradient(
      to bottom,
      rgb(254, 240, 138, 0),
      rgb(253, 224, 71, 0.08),
      rgb(250, 204, 21, 0.8)
    );
    border-radius: 10px;
  }
  .blog-card-image:hover:before {
    height: 100%;
  } */

  .blog-card-image {
    position: relative;
    transition-duration: 0.3s;
  }

  .blog-card-image:before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    transition: height 0.3s ease-out;
    background: linear-gradient(
      rgb(55, 65, 81, 0.3),
      rgb(17, 24, 39, 0.4),
      rgb(0, 0, 0)
    );
    opacity: 0.7;
    border-radius: 10px;
  }

  .blog-card-image:hover:before {
    background: linear-gradient(
      to bottom,
      rgb(254, 240, 138, 0),
      rgb(253, 224, 71, 0.08),
      rgb(250, 204, 21, 0.8)
    );
    transition: height 0.3s ease-out;
  }
  .blog-card-image:hover .read-more {
    color: #fff;
  }

  .blog-card-image:hover .read-more-arrow path {
    stroke: #fff;
  }

  .card-shadow-contact {
    background: linear-gradient(180deg, #1e2125 0%, #222528 100%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45),
      -10px 0px 35px rgba(194, 202, 213, 0.12);
  }

  .contact-form {
    background: linear-gradient(180deg, #1e1f23 1.79%, #101114 96.87%);
  }

  .contact-form input {
    background: #23272c;

    border-radius: 8px;
  }

  /* why choose me section */

  .why-me-image {
    opacity: 0.6;
    object-fit: cover;
  }

  .choose-me-block {
    background: linear-gradient(180deg, #1e2125 0%, #222528 100%);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.45),
      -10px 0px 35px rgba(194, 202, 213, 0.12);
  }

  .outlet-screen {
    width: 82%;
    margin-left: 18%;
  }

  .burger-menu {
    display: none;
  }

  @media only screen and (max-width: 640px) {
    .gallery {
      display: grid;
    }

    .gallery > * {
      margin: auto;

      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  @media only screen and (max-width: 768px) {
    .responsive-sidebar {
      width: 50%;
      z-index: 5;
      transform: translateX(-100%);
      transition-duration: 0.3s;

      background: linear-gradient(
          rgb(55, 65, 81, 0.5),
          rgb(0, 0, 0, 0.9),
          #212428
        ),
        url(/images/sidebar-bg.png);
    }

    .burger-menu {
      display: block;
      transition-delay: 1s;
    }

    .outlet-screen {
      width: 100%;
      margin-left: 0%;
    }
    .sidebar-image {
      height: 100vh;
    }
  }
  @media only screen and (max-width: 1379px) {
    .card-shadow-resume .custom-tab {
      padding: 10px 40px;
      font-size: 20px;
    }
  }
  @media only screen and (max-width: 1172px) {
    .card-shadow-resume .custom-tab {
      padding: 10px 25px;
      font-size: 15px;
    }
  }
  @media only screen and (max-width: 880px) {
    .card-shadow-resume .custom-tab {
      padding: 10px 15px;
      font-size: 15px;
    }
  }
}
/* .responsive;
} */

/* animations */

/* circle-animation */

.circle-animation {
  animation: rotate-center 8s linear forwards infinite;
}

/* ----------------------------------------------

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
